// Variables colors
$blue = #233E77
$lightBlue = #217CF7
$darkBlue = #19233A
$hoverBlue = #355FA1
$gray = #CECECE
$lightGray = #F0F0F0
$yellow = #F6A623
$black = #0B162E
$green = #5C9221
$orange = #E67E22

//// TOAST COLORS
$blueToast = #CBE2FC
$redToast = #F8C3C3
$redStroke = #E74D3D
$greenToast = #B3E1C4
$greenStroke = #16A085
$yellowToast = #FAEBC0
$yellowStroke = #F39C15
