// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center


// ======================================================//
// Normal content / p
// ======================================================//
.text
  font-size 1rem
  color $black
  margin-top 0
  margin-bottom 1rem
  font-weight 400
  line-height 1.6
  
p
  font-size 1rem  
      
  

// ======================================================//
// Titles
// ======================================================//
h1
  font-size 1.5rem !important

h2
  font-size 21px !important

h3
  font-size 1rem !important
  


